.footer {
  text-align: center;
  padding: 60px;
  background-color: #orangered;
}

.footer a {
  font-size: 30px;
  color:  orange;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #orange;
}
